{block content}
	
	<div class="page-heading">
		<h1>{$actualPage->getTitle()}</h1>

		{include ../Teacher/tabs.latte active => 'fields'}
	</div>
	
	<br />
	<div class="buttonWrap">
		<a class="btn btn-primary ajax" n:href="update idPage => $actualPage->getId()">{_'Add Field'}</a>
	</div>

	<div class="control-group">
		{control fieldGrid}
	</div>
	
{/block}
