{block #content}

	<div class="page-heading">
		<h1>{$actualPage->getTitle()}</h1>

		{include tabs.latte active => 'seo'}
	</div>
	
	{var t = $basePathModule . "AdminModule/templates/system/seoSettings.latte"}
  	{include $t id => $idPage}

{/block}
